<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>
   

<main class="container">
  <div class="jumbotron">
    <h1 class="display-4">Welcome to <%= title %> page</h1>
    <h2 class="section__title section__title_about">Full Stack Enthusiast.</h2>
    <p class="section__title section__title_about">Who am I </p>
    <div class="about-me_body">
        <p>Motivated student offering proficiency in web development combined with hard work and strong analytical thinking skills. Valuable team player with exceptional customer service abilites. Fast learner and commited to always learning throughout my career.</p>
        <p>I am confident in my skills that I have acquired in object-oriented software design methodologies, user-oriented interface design, C#, Java, Oracle, Unix/Linux.</p>
    <img src="/img/GNdFgX1.png" class="about-me_img">
    <button class="button button1" onclick="location.href='resume.png'" type="button">Steven Hsiung's Resume</button>
    
      </div>
    </div>
    </main>
    
    <!--bottom nav-->
    
   
   
      <!--script section-->
      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>
   