<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>
   

<main class="container">
  <div class="jumbotron">
    <h1 class="display-4">Welcome to <%= title %> page</h1>
    </div>
    </main>
    <!--bottom nav-->
    <!--project 1-->
    <div class="row">
      <div class="col-md-4">
      <div class="projects">
      <img class="projectimg" alt="What is the best wines to costs" src="img/cellars.png" height="150" width="150">
      <h1>Classic Cellars</h1>
      <hr>
      <div class="projecttext">
      <p>
        Classic Cellars is a project I worked on with some of my class members last semester in COM122 it was heavily inspired by my classmates love for wine and we thought why not make a sql developer program out of it. The purpose of the program was to help wine sellers looking for a computer system for organizing and selling wine (Web Application)
      </p>
      </div>
      </div>
      </div>

      <div class="col-md-4">
        <div class="=projects">
          <img class="projectimg" alt="whackamole" src="img/whackamole.png" height="150" width="150">
          <h1>Whack a Mole</h1>
        <p> Whack a mole was a program I made last semester in Web Interface Design course. This was to display to the user that each time you would whack a mole the counter would increase. It helped me to be able to add moving objects to a project.

        </p>
        </div>
      </div>
      </div>

      <div class="row">
        <div class="projects">
          <img class="projectimg" alt="Expense Tracking Application" src="img/expenses.png "height="150" width="150">
          <h1>Expense Tracking Application</h1>
          <p>
          This project was done last semester with me to make a program with some other students to help consumers manage their expenses and to help them save money if needed
        </p>
        </div>
        </div>
      </div>
    
      </div>
   
      <!--script section-->
      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>
   