<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>
   

<main class="container">
  <div class="jumbotron">
    <h1 class="display-4"><%= title %></h1>
    <hr>
    <br>
   
    <div class="row">
      <div class="col-md-4">
      <div class="services">
      <img class="serviceimg" alt="java" src="img/java.png">
      <h4>C# & Java Development</h4>
      <hr>
      <div class="servicetext">
      <p>
        I have been able to experience working with C# and Java programming, I have developed skills in creating basic console programs for various assignments
        and exams in the past year and half. </p> <br><br>
      </div>
      </div>
    </div>

  
    <div class="col-md-4">
      <div class="services">
      <img class="serviceimg" alt="webdesign" src="img/web.png">
      <h4>Web Development</h4>
      <hr>
      <div class="servicetext">
      <p>
        I have been honing my skills with Web Development and design, and has experience working with HTML, CSS and JavaScript.
      I am currently learning how to effectively use GitHub and is learning Node.js, Express, and MongoDB.</p> <br><br>

 


    
      </div>
    </div>
      </div>
      </div>
    <br><br>
    </div>
    </main>
    <!--bottom nav-->
   
   
      <!--script section-->
      <%- include ('partials/bottom_nav.ejs') %>
      <%- include ('partials/footer.ejs') %>
   